<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695066841233-h67eiboi6h4o4q3267ja8j6vt1g0r7sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695066841233-h67eiboi6h4o4q3267ja8j6vt1g0r7sa</string>
	<key>API_KEY</key>
	<string>AIzaSyA-rsd2D0QprFEzQ1JprXFTAyqHjFzbx6o</string>
	<key>GCM_SENDER_ID</key>
	<string>695066841233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetarikan.SharePhotoApp</string>
	<key>PROJECT_ID</key>
	<string>shareapp-ccee4</string>
	<key>STORAGE_BUCKET</key>
	<string>shareapp-ccee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695066841233:ios:dd4f52a539b32529086f30</string>
</dict>
</plist>